/*
 * Globals
 */

/* Links */
a{
  color: #fff;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  padding: 5px 0px;
  margin: 10px;
  cursor: pointer;
  line-height: 3;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.none{
  display: none;
}
.clear{
  clear: both;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #19292F;
  /*background: #fff!important;*/
  /*background: #1abc9c;*/
  color:#fff;
  font-family: 'Arvo', serif;
}
body {
  color: #fff;
  text-align: center;
  background-size:cover;
  background-repeat: no-repeat;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 1% 10%;
}

/*
 * Header
 */
.masthead{
  background: #cc3701;
  border-bottom: 4px solid rgba(255, 255, 255, 0.71);
}
.masthead-brand {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin: -5px;
}
.masthead-brand img{
  width:100px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  border-bottom: 3px solid transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.lead{
  font-weight: 100;
  font-size: 18px;
}
.preview img{
  width:90%;
  /*position: absolute;*/
}
.form{
  margin: 10px 0;
}
.success-email{
  background: #cc3701;
  padding: 20px;
}

h1{
  font-size: 28px;
}

.left{
  /*margin:0 60px;*/
}

.center{
  position: relative;
  float: left;
}

.right{
  float: right;
  padding:70px 10px;
}
.right img{
  /*-webkit-filter: invert(100%); */
}
.right .lead{
  font-weight: 500;
  /*text-shadow: 1px 1px 1px #000;*/
}

.mobile-first{
  display: none;
}

#demo-video{
  position: absolute;
  top: 95px;
  left: 55px;
  width: 239px;
  height: auto;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead-brand img{
    width: 65px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 20px auto!important;
  }
}

@media (max-width: 480px) {
  .mobile-first {
    /*display: block*/
  }
  .masthead-brand img{
    display: block;
    margin: 0 auto;
  }
  .center{
    /*display: none;*/
    margin: 0 0 0 5%;
  }
  .right{
    padding: 0px;
  }
  .preview img{
    /*width: 55%;*/
    margin: 0 auto;
  }
  .sub_taglines img{
    width: 15%;
    margin: 10px;
  }
  #download-div img{
    width: 70%!important;
    float: none!important;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin: 20px 5% 0px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: normal;
}
.cover-heading{
  text-shadow: 1px 2px #cc3701;
}
.cover-heading, .inner p{
  color: #fff;
}
.cover-heading b{
  font-size: 1.3em;
  line-height: 2;
}
.form-control{
  width: 80%;
  margin: 0 auto;
  height: 50px;
  font-size: 20px;
}
.btn-outline {
  /*color: #cc3701;
  background-color: transparent;
  border-color: #cc3701;*/
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  background: #cc3701;
}
#download-div a{
  margin: 10px;
  float: left;
}
#download-div img{
  float:left;
  width:45%;
  margin:10px;
  -webkit-filter: invert(0%); 
}
.download-btn{
  background: #fff;
  padding: 15px 20px;
  color: #cc3701;
  display: table;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border-bottom: 3px solid #cc3701;
  font-weight: 400;
  width: 45%;
  text-align: left;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.download-btn img{
  width: 35px!important;
  margin: 4px 10px 4px 5px!important;
}
.download-btn em{
  display: block;
  font-style: normal;
  font-size: 1.5em;
}

/*
 * Footer
 */

.mastfoot {
  color: #fff; /* IE8 proofing */
  color: #fff;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 900px;*/
    width: 100%;
  }
}
